.widget-carrito {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 35px;
  }
  
  .icono-carrito {
    font-size: 30px;
    margin-right: 5px;
  }
  
  .contador-items {
    background-color: #ff5722;
    color: white;
    border-radius: 12px;
    padding: 2px 6px;
    font-size: 16px;
  }